.wrapper {
    width: 500px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;

    margin-bottom: 6px;
}

.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

}

.stats {
    display: flex;
    text-align: left;
    margin: auto;
}

.count {
    padding-right: 19px;
    padding-left: 19px;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;


    min-width: 105px;
    margin-top: 10px;
    border-right: 1px solid rgba(59, 138, 197, 0.5);
}

.firstCount {
    padding-right: 19px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    min-width: 105px;
    margin-top: 10px;
    border-right: 1px solid rgba(59, 138, 197, 0.5);
}

.thirdCount {
    padding-right: 19px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    min-width: 105px;
    margin-top: 10px;
    border-right: none;
}

.head {

    height: 32px;
    margin-bottom: 10px;
}


.chart {
    width: 122px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}

.dynamic {
    grid-area: dynamic;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    display: flex;
    align-items: baseline;
    gap: 6px;
}

tr {
    padding: 2px;
}

td {
    padding: 2px;
}
